@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-app="myApp" ng-view>
    <h1>{{ 1 + 2 + 3}}</h1>

    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jstest")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/urijs")
    @Scripts.Render("~/bundles/textapp")   
}